dist/
yarn-error.log
node_modules/
elm-stuff/
.vscode/

# python stuff
__pycache__/
.idea/
venv/
.vscode/
bin/
include/
lib/
eatright.db
share/
local/
migrations/
*.pyc
Scripts/
tcl/
